/*Reset Style*/
@import url(../vendor/normalize.css);
/*Bind FontFamily*/
@import url(../vendor/fonts/fonts.css);
/*
font-family: 'PTRootUIWebRegular', sans-serif;
font-family: 'Proto Grotesk Light', sans-serif;
*/

/*PAGE*/
.page{
    max-width: 1920px;
    background: #F3F2F2;}
/* HEADER*/

.header{
    max-width: 1770px;
}
.header__wrapper-main{
    display: flex;
    justify-content: space-between;
    /*margin: 39px auto 0;*/
    align-items: center;
}
.header__wrapper-main_active{
    background: #FFFFFF;
}
.header__logo{
    width: 190px;
    height: 28px;
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.header__menu{
}
.header__items{
    display: flex;
    padding: 0;
    margin: 0;
}
.header__item{
    list-style-type: none;
    padding-right: 30px;
}
.header__item:last-child{
    padding-right: 0;
}
.header__item-link{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    transition: all .5s;
}
.header__item-link:hover{
    color: #224CFF;
}
.header__item-link_script:hover .header__item-help{
    display: block;
}
.header__item-help{
    display: none;
    width: 138px;
    list-style-type: none;
    position: absolute;
    background: #F3F2F2;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 30px 30px;
    padding: 20px 0;
    text-align: center;
}

.header__item-help_item{
    padding-bottom: 10px;
}
.header__item-help_link{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    transition: .5s all;
}
.header__item-help_link:hover{
    color: #224CFF;
}

.header__item-help_item:last-child{
    padding-bottom: 0;
}
.header__profile{
    /*width: 90px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search{
    width: 20px;
    height: 20px;
    background-size: cover;
    background: transparent url("../images/search.svg");
    cursor: pointer;
    /*margin: 5px;*/
    border: 0;
}
.header__profile-split{
        border: 0.7px solid #A7A6A6;
        width: 20px;
        transform: rotate(90deg);
}
/*.header__search::after{*/
/*    content: '';*/
/*    margin-left: 34px;*/
/*    border: 0.7px solid #A7A6A6;*/
/*    width: 20px;*/
/*    transform: rotate(90deg);*/
/*    cursor: default;*/
/*}*/
.header__login{
    width: 20px;
    height: 20px;
    background-size: cover;
    background: transparent url("../images/login.svg");
    cursor: pointer;
    /*margin: 5px;*/
    border: 0;
}
.header__burger{
    width: 20px;
    height: 20px;
    background-size: cover;
    background: transparent url("../images/boorger.svg");
    cursor: pointer;
    /*margin: 5px;*/
    border: 0;
    display: none;
    transition: .3s all;
}
.header__burger_active{
    background: transparent url("../images/closeBurger.svg");
}
.header__wrapper-additional{
    display: none;
    width: 100%;
    background: #FFFFFF;
    border-radius: 0 0 30px 30px;
}
.header__wrapper-additional_active{
    display: block;
}
.header__burger-menu{
    display: flex;
    justify-content: space-around;
}
.header__burger-list{
    list-style-type: none;
    padding: 0;
    margin: 0 0 50px;
}
.header__burger-item{
    padding-top: 15px;
    text-transform: uppercase;
}
.header__burger-link{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #000000;
    transition: .5s all;
}
.header__burger-link:hover{
    color: #224CFF;
}
.header__burger-form{
    display: flex;
    justify-content: space-around;
}
.header__burger-city,
.header__burger-exit{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #A7A6A6;
    border: none;
    background: transparent;
    margin: 100px 0 30px;

}
.header__search-field{
    display: none;
    margin: 0 15px 30px;
}
.header__search-field_active{
    display: block;
}
.header__search-input{
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #000000;
    outline: none;
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 5px;
    margin-bottom: 30px;
}
.header__result-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #A7A6A6;
    margin-bottom: 10px;
}
.header__result-text{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 23px;
    padding-bottom: 5px;
}
.header__result-link{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    color: #224CFF;
}
@media screen and (min-width:1440px){
    .header{
        max-width: 1770px;
        margin: 0 75px;
    }
    .header__wrapper-main{
        padding-top: 47px ;
        padding-bottom: 85px;
    }
}
@media screen and (min-width:1024px) and (max-width: 1440px) {
    .header {
        max-width: 1170px;
        margin: 0 auto;
    }

    .header__wrapper-main {
        padding-top: 44px;
        padding-bottom: 49px;
    }
}
@media screen and (min-width:1025px){
    .header__wrapper-additional{
        display: none;
    }
}
@media screen and (min-width:320px) and (max-width: 1024px){
    .header{
        max-width: 790px;
        margin: 0 auto;
    }
    .header__wrapper-main{
        padding: 14px 15px;
    }
    .header__menu{
        display: none;
    }
    .header__login{
        display: none;
        position: absolute;
        left: 40px;
    }
    .header__logo{
        width: 130px;
    }
    .header__login_active{
        display: block;
    }
    .header__profile-split{
        display: none;
    }
    .header__profile{
        order: -1;
        position: relative;
    }
    .header__burger{
        display: block;
    }
    .header__result-link{
        font-size: 12px;
        line-height: 17px;
    }
    .header__burger-city,
    .header__burger-exit{
        margin: 0 0 30px;
    }
}
/*Попап Входа*/
.popup{
    width: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.popup_active{
    display: flex;
    background: rgba(0, 0, 0, .5);
}
.popup__overlay{
    max-width: 770px;
    max-height: 559px;
    background: #FFFFFF;
    border-radius: 30px;
    position: relative;
}
.popup__form{
    max-width: 570px;
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}
.popup__close{
    width: 20px;
    height: 20px;
    background-size: cover;
    background: transparent url("../images/closeBurger.svg");
    cursor: pointer;
    border: 0;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
}
.popup__header{
    text-align: center;
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    padding: 50px 0 16px;

}
.popup__text{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}
.popup__text:last-of-type{
    padding-top: 20px;
    padding-bottom: 40px;
}
.popup__section{
    display: flex;
    flex-direction: column;
}
.popup__input {
    width: 100%;
    height: 40px;
    background: #F3F2F2;
    border-radius: 30px;
    border: 0;
    box-sizing: border-box;
    outline:none;
    margin-top: 10px;
    padding-left: 20px;
}
.popup__reset{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #464646;
    padding: 20px 0 31px;
}
.popup__accept{
    width: 85px;
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #A7A6A6;
    border: 1px solid #A7A6A6;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 13px 20px;
    margin-bottom: 50px;
}
.popup__city-header{
    padding: 30px 65px 50px;

}
.popup__city-text{
    padding-bottom: 10px;
}
.popup__city-text_active{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 0.5px solid #A7A6A6;
}
.popup__text:last-of-type{
    padding: 0 0 57px;
}
@media screen and (min-width:320px) and (max-width: 1023px){
    .popup__header{
        font-size: 19px;
        line-height: 23px;
    }
    .popup__text{
        font-size: 15px;
        line-height: 21px;
    }
    .popup__overlay{
        margin: 0 15px;
    }
    .popup__form{
        margin: 0 15px;
    }
    .popup__reset{
        font-size: 12px;
        line-height: 17px;
    }
    .popup__accept{
        width: 66px;
        font-size: 12px;
        line-height: 17px;
        padding: 11px 15px;
    }
}
/*Блок Каледнаря*/

.calendar__card{
    width: 870px;
    display: flex;
    flex-direction: column;
    background: #C8D1FF;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 30px;
}
.calendar__heading{
    display: flex;
    justify-content: space-between;
    max-width: 810px;
}

.calendar__about{
    max-width: 810px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.calendar__event{
    max-width: 320px;
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
}
.calendar__date-number{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    line-height: 100px;
}
.calendar__text{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.calendar__place{
    display: flex;
    flex-direction: column;
    max-width: 810px;
    padding-top: 156px;
}
.calendar__time, .calendar__location{
    padding-bottom: 10px;
    border-bottom: 1px solid #A7A6A6;;
}
.calendar__location, .calendar__leading{
    padding-top: 10px;
}
.calendar__footer{
    max-width: 810px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.calendar__footer-left{
    display: flex;
}
.calendar__sing{
    width: 127px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #224CFF;
    color: #224CFF;
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    background: transparent;
    cursor: pointer;
}
.calendar__lost-human{
    align-self: center;
    padding-left: 15px;
}
.calendar__more{
    width: 48px;
    height: 48px;
    background-size: cover;
    background:  url("../images/calendarMore.svg");
    cursor: pointer;
    border-radius: 50%;
    border: 0;
}
@media screen and (min-width:1024px) and (max-width: 1440px){
    .calendar__place{
        padding-top: 50px;
    }
}
@media screen and (max-width: 1024px){
    .calendar__card{
        max-width: 370px;
        padding: 30px 15px;
    }
    .calendar__place{
        padding-top: 50px;
    }
    .calendar__heading,
    .calendar__about,
    .calendar__place,
    .calendar__footer{
        max-width:260px
    }
    .calendar__about{
        margin: 5px auto 0;
    }
    .calendar__text{
        font-size: 12px;
        line-height: 17px;
    }
    .calendar__event{
        font-size: 19px;
        line-height: 23px;
    }
    .calendar__date-number{
        font-size: 60px;
        line-height: 60px;
    }
    .calendar__sing{
        width: 100px;
        height: 40px;
        font-size: 12px;
        line-height: 17px;
    }
    .calendar__lost-human{
        padding-left: 10px;
    }
    .calendar__time, .calendar__location{
        padding-bottom: 5px;
    }
    .calendar__location, .calendar__leading{
        padding-top: 5px;
    }
    .calendar__more{
        width: 40px;
        height: 40px;
        background-repeat: round;
    }
}
@media screen and (max-width: 500px){
    .calendar__card {
        max-width: 290px;
    }
}
/*Карточки Ментора*/
.mentor{
    width: 1185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8D162;
    border-radius: 30px;
}
.mentor__take{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    margin: 17px auto;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 2px 7px;
}
.mentor__about{
    max-width: 810px;
    text-align: center;
    margin: 17px auto 0;
}
.mentor__words{
    font-family: 'Proto Grotesk Light',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    margin: 0;
}
.mentor__author{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #464646;
}

.mentor__image{
    min-width: 100%;
    height: 394px;
    object-fit: cover;
    border-radius: 15px;
    margin: 40px 0 15px;
    padding: 0 30px;
    box-sizing: border-box;
}

.mentor__link{
    font-family: 'Proto Grotesk Light',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #224CFF;
    text-decoration: none;
    margin-bottom: 30px;
}
@media screen and (min-width:1024px) and (max-width: 1440px){
    .mentor{
        width: 585px;
    }
    .mentor__image{
        width: 100%;
    }
}
@media screen and (min-width:320px) and (max-width: 1024px){
    .mentor{
       width: 100%;
    }
    /*.mentor__about{*/
    /*    max-width: 260px;*/
    /*}*/
    .mentor__take{
        margin: 17px auto 7px;
    }
    .mentor__words{
        font-size: 19px;
        line-height: 23px;
    }
    .mentor__author{
        font-size: 12px;
        line-height: 17px;
    }
    .mentor__image{
        width: 100%;
        height: 346px;
        padding: 0 15px;
    }
    .mentor__link{
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 500px) {
    .mentor__image{
        height: 142px;
    }
}

/*Статья */
.article{
    max-width: 1770px;
    background: #C8D1FF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.article:last-of-type{
    background: #8CDD94;
}
.article__header{
    max-width: 970px;
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 50px;
    margin-top: 120px;
}
.article__link{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #224CFF;
    text-decoration: none;
    margin: 71px auto 30px;
}
@media screen and (min-width:320px) and (max-width: 1024px){

    .article__header{
        font-size: 19px;
        line-height: 23px;
        margin: 30px 40px 114px;
    }
    .article__link{
        margin: 66px auto 15px;
        font-size: 12px;
        line-height: 17px;
    }
}
@media screen and (max-width: 500px) {
    .article__header{
        margin: 30px 15px 0;
    }
}
/*Аннотация*/
.annotation{
    max-width: 585px;
    background: #FFFFFF;
    border-radius: 30px;
}
.annotation__wrapper{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    padding: 47px 15px 0 30px;
}
.annotation__about{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #464646;
    padding-bottom: 105px;
}
.annotation__text{
    max-height: 389px;
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    overflow: scroll;
    overflow-x: hidden;
}
@media screen and (min-width:320px) and (max-width: 1024px){
    .annotation{
        width: 290px;
    }
    .annotation_mentor{
        min-width: 100%;
    }
    .annotation__wrapper{
        width: 260px;
    }
    .annotation__wrapper_mentor{
        min-width: 100%;
        padding: 30px 15px;
        box-sizing: border-box;
    }
    .annotation__about{
        font-size: 12px;
        line-height: 17px;
        padding-bottom: 5px;
    }
    .annotation__text{
        height: 87px;
        font-size: 15px;
        line-height: 21px;
    }
}
/*Видео*/
.video{
    width: 420px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-right: 30px;
}
.video_1920{
    margin-right: 0;
}
.video__trailer{
    height: 236px;
    border-radius: 30px 30px 0 0;
    background-color: #8CDD94;
    display: flex;
    justify-content: center;
    place-items: flex-end;
}
.video__take{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    margin: 0 0 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 2px 7px;
}
.video__about{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 30px 30px;
    text-align: center;
    margin: 15px auto;
}
.video__name{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 5px;
}
.video__author{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #464646;
}
.video__link{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #224CFF;
    text-decoration: none;
    margin: 17px 0 15px;
}
@media screen and (max-width: 1440px){
    .video_1920{
        display: none;
    }
    .video_1440{
        margin-right: 0;
    }
}
@media screen and (min-width:320px) and (max-width: 1024px) {
    .video{
        max-width: 370px;
    }
    .video__trailer{
        height: 163px;
    }
    .video__about{
        width: 260px;
    }
    .video__name{
        font-size: 19px;
        line-height: 23px;
    }
    .video__author{
        font-size: 12px;
        line-height: 17px;
    }
    .video__link{
        font-size: 12px;
        line-height: 17px;
        margin: 15px 0 15px;
    }
    .video_1440{
        display: none;
    }
    .video_1024{
        margin-right: 0;
    }

    @media screen and (max-width: 600px){
        .video_1024{
            display: none;
        }
        .video_320{
            max-width: 100%;
            margin-right: 0;
        }
    }
}
/*Книга*/
.book{
    width: 420px;
    background: #FFFFFF;
    border-radius: 30px 30px 30px 30px;
}
.book__header{
    width: 420px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book__book{
    width: 240px;
    height: 320px;
    background: #FF8585;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
}
.book__name{
    width: 200px;
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    margin: 20px auto 0;
}
.book__about{
    width: 200px;
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin: 0 auto 20px;
}
.book__about::after{
    content: '';
    border: 1px solid #000000;
    width: 66px;
    background: #000000;
    transform: rotate(180deg);
    position: absolute;
    left: 35%;
    bottom: 26%;
}
@media screen and (min-width:320px) and (max-width: 1024px){
    .book{
        width: 290px;
    }
    .book__header{
        width: 290px;
        height: 332px;
    }
    .book__book{
        width: 200px;
        height: 272px;
    }
    .book__name{
        width: 170px;
        font-size: 19px;
        line-height: 23px;
        margin: 15px auto 0;
    }
    .book__about{
        width: 170px;
        font-size: 12px;
        line-height: 17px;
        margin: 0 auto 15px;
    }
}
/*Footer*/
.footer{
    width: 100%;
    background: #2E2468;
    margin-top: 120px;
}
.footer__block{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
    padding-top: 90px;
    /*padding-bottom: 80px;*/
}
.footer__logo{
    width: 415px;
    height: 76px;
    background-size: contain;
    background: url("../images/logoFooter.svg") no-repeat;
}
.footer__help{
    width: 169px;
    height: 48px;
    border: 1px solid #F3F2F2;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #F3F2F2;
    margin-top: 20px;
}
.footer__navs{
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
}
.footer__nav{
    padding-bottom: 20px;
}
.footer__nav-link{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F3F2F2;
    text-decoration: none;
}
.footer__nav:last-child{
    padding-bottom: 0;
}
.footer__socials{
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
}
.footer__social{
    padding-bottom: 20px;
}
.footer__social-link{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F3F2F2;
    text-decoration: none;
}
.footer__social:last-child{
    padding-bottom: 0;
}
.footer__info{
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
}
.footer__project{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #C8D1FF;
}
.footer__command{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #F3F2F2;
}
.footer__command:last-child{
    padding-left: 30px;
}
.footer__link{
    color: #F3F2F2;
}
@media screen and (max-width: 600px){
    .footer{
        margin-top: 50px;
    }
}
@media screen and (min-width:320px) and (max-width: 1024px){
    .footer__block{
        padding-top: 40px;
        flex-direction: column;
    }
    .footer__logo{
        width: 252px;
        height: 46px;
        margin: 0 auto 41px;
        background-size: contain;
    }
    .footer__navs{
        max-width: 763px;
        width: calc(100% - 80px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
         margin: 0 auto;
        justify-content: center;
        /*padding-bottom: 21px;*/
        border-bottom: 1px solid #C8D1FF;
    }
    .footer__nav{
        padding-right: 15px;
        padding-bottom: 17px;
    }
    .footer__socials{
        max-width: 763px;
        width: calc(100% - 80px);
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }
    .footer__social{
        padding-top: 21px;
        padding-right: 15px;
        padding-bottom: 0;
    }
    .footer__help{
        order: 3;
        margin: 30px auto;
    }
    .footer__info{
        align-items: center;
        position: static;
        bottom: 0;
        padding-bottom: 30px;
    }
    .footer__project{
        font-size: 12px;
        line-height: 17px;
    }
    .footer__commands{
        display: flex;
        flex-direction: column;
    }
    .footer__command{
        padding-top: 5px;
        font-size: 12px;
        line-height: 17px;
    }
}

/*Страница Main*/
.content{
    max-width: 1770px;
    margin: 0 75px;
}
.content__block-card,
.content__block-mentor{
    display: flex;
    margin-bottom: 30px;
}
.content__card{
    width: 870px;
    height: 520px;
    background: url("../images/historyAlinaAndMarina.jpg") top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: 30px;
}
.content__card-invalid{
    width: 870px;
    max-height: 520px;
    background: #8CDD94;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.content__card-logo{
    width: 252px;
    height: 46px;
    background: #FF8585;
    border-radius: 30px 3px 200px 0;
    padding: 40px 253px 70px 30px;
}
.content__card-text{
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    color: #FFFFFF;
}
.content__card-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF8585;
    border-radius: 400px;
}
.content__card-about{
    max-width: 570px;
    text-align: center;
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
}
@media screen and (max-width: 1440px){
    .content__card-text{
        display: none;
    }
    .content__card-logo{
        padding: 35px 113px 43px 30px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
    .content{
        max-width: 1170px;
        margin: 0 auto;
    }
    .content__card{
        height: 414px;
    }
    .content__card-about{
    }
}
@media screen and (min-width: 320px) and (max-width: 1024px){
    .content{
        max-width: 790px;
        margin: 0 auto;
        padding: 0 15px;
    }

}
@media screen and (max-width: 1024px){
    .content__block-mentor{
        flex-direction: column;
    }
    .content__card-logo{
        width: 165px;
        height: 30px;
        padding: 27px 88px 33px 15px;
    }
    .content__card-about{
        max-width: 340px;
        font-size: 19px;
        line-height: 23px;
    }
    .content__card-wrapper{
        border-radius: 70px 70px 30px 30px;
    }
}
@media screen and (min-width: 320px) and (max-width: 500px){
    .content__card{
        height: 320px;
    }
    .content__block-card{
        flex-direction: column;
        align-items: center;
    }
    .content__card,
    .content__card-invalid{
        max-width: 290px;
        margin: 30px 0 0;
    }
    .content__card-about{
        max-width: 260px;
    }
    .content__card-wrapper{
        padding: 35px 0;
    }

}
@media screen and (max-width: 650px){
    .content__card-logo{
        padding: 22px 50px 26px 15px;
    }
}
.content__block-video{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
@media screen and (max-width: 600px){
    .content__block-video {
        justify-content: center;
    }
}
.content__block-interview{
    display: flex;
    margin-bottom: 30px;
}
.content__block-youtube{
    width: 1199px;
    height: 675px;
    border-radius: 30px;
    border: none;
}
.interview{
    max-width: 571px;
    background: #F8D162;
    border-radius: 30px;
    display: flex;
}
.interview__wrapper{
    padding: 30px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.interview__about{
    margin: 0;
}
.interview__words{
font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    margin: 0 0 5px;
}
.interview__author{
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #464646;
}
.interview__link{
font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #224CFF;
    text-decoration: none;
}
@media screen and (max-width: 1440px){
    .interview__wrapper{
        padding: 30px 30px;
    }
    .content__block-youtube{
        height: 451px;
    }
}
@media screen and (max-width: 1024px){
    .content__block-youtube{
        width: 100%;
        height: 439px;
        order: -1;
        border-radius: 30px 30px 0 0;
    }
    .content__block-interview{
        flex-direction: column;
    }
    .interview{
        min-width: 100%;
        margin: 0 auto;
        border-radius: 0 0 30px 30px;
    }
    .interview__wrapper{
        margin: 0 auto;
    }
    .interview__words{
        font-size: 19px;
        line-height: 23px;
    }
    .interview__author{
        font-size: 12px;
        line-height: 17px;
    }
    .interview__link{
        font-size: 12px;
        line-height: 17px;
        margin-top: 55px;
    }
}
@media screen and (max-width: 600px){
    .content__block-youtube{
        height: 165px;
    }
    .interview__wrapper{
        padding: 15px;
    }
    .interview__link{
        margin-top: 32px;
    }
}
.content__block-soc{
    display: flex;
}
.content__block-facebook {
    width: 420px;
    height: 627px;
    border-radius: 30px;
    border:none;
    /*overflow:hidden*/
}
.rubric{
    width: 1318px;
    padding-left: 30px;
}
.rubric__block{
    width: 100%;
    margin-bottom: 30px;
}
.rubric__wrapper{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 50px 0 47px 50px;
}
.rubric__heading{
    max-width: 770px;
    font-family: 'Proto Grotesk Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 15px;
}
.rubric__name{
    max-width: 65px;
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    color: #464646;
    background: #F3F2F2;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    padding: 2px 7px;
}
@media screen and (max-width: 1440px){
    .rubric__heading{
        max-width: 670px;
    }
}
@media screen and (max-width: 1024px){
    .rubric__wrapper{
        padding: 30px 15px;
    }
    .rubric__heading{
        max-width: 339px;
        font-size: 19px;
        line-height: 23px;
    }
    .rubric__name{
        font-size: 10px;
        line-height: 13px;
    }
    .content__block-facebook{
        height: 552px;
        padding-bottom: 30px;
    }
    .rubric__block:last-of-type{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .content__block-soc{
        max-width: 600px;
        flex-direction: column;
        align-items: center;
    }
    .content__block-facebook{
        height: 433px;
        width: 290px;
        padding-bottom: 30px;
    }
    .rubric{
        width: 100%;
        padding-left: 0;
    }
}